/*Main font:

font-family: 'Lato', sans-serif;


Colours:

Gold: #D4AF37

Grey: #232323
*/

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  position: relative;
  box-sizing: border-box;
}

p a {
  color: white;
  text-decoration: underline;
}

p a:hover {
  color: #D4AF37;
  text-decoration-color: white;
}

.nav-div-top {
  height: 180px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 15px;
  background-color: black;
}

.nav-brand {
  background-color: #232323;
  font-size: 50px;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 30px 0px 0px 0px;
  color: #D4AF37;
}

.nav-contact {
  background-color: #232323;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 30px 0px 0px 0px;
  font-size: 15px;
}

.nav-contact h3 {
  color: #D4AF37;
}

.navbar {
  display: flex;
  justify-content: space-around;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  font-size: 20px;
  height: 85px;
  background-color: #D4AF37;
  padding: 15px;
  text-align: center;
}

.nav-div-bottom {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a {
  color: white;
}

.stones-sophistication {
  font-size: 30px;
}

body {
  margin: 0;
  font-size: 25px;
  color: white;
  background-color: #232323;
}


.body-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: center;
}

.body-left {
  background-color: #232323;
  align-items: center;
  margin: 50px;
}

.body-left img {
  height: 100%;
  width: 100%;
  align-items: center;
}

.preheader {
  font-size: 20px;
  padding: 2vh;
  font-style: italic;
}

#checkout-header {
  font-size: 50px;
  color: #D4AF37;
  padding: 20px 0px 30px;
}

#checkout-desc {
  top: 100px;
  padding: 50px 0px 50px;
  background-color: #232323;
  font-size: 20px;
}

.body-right {
  background-color: black;
  position: relative;
}


.footer-div {
    background-color: #D4AF37;
    width: 100%;
    height: 20px;
}

footer {
  height: 5px;
  background-color: black;
}

.footer {
  height: 105px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: end;
  padding: 20px;
  font-size: 20px;
}

.footer-text1 {
  color: white;
  text-align: left;
}

.footer-text2 {
  text-align: right;
  color: white;
}





/* Button modal CSS */
button {
  background-color: #232323;
  color: white;
  padding: 50px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;

}

#checkout-btn {
  position: absolute;
  bottom: 50px;
  right: 0vw;
  font-size: 35px;
  width: 100%;
}

button:hover {
  background-color: #D4AF37;
  color: black;

}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #232323;
  color: white;
}

.cancelbtn:hover {
  background-color: red;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #232323;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #D4AF37;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #D4AF37;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}



/* Image modal CSS */

#checkout-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#checkout-image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.Imgclose {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #D4AF37;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.Imgclose:hover,
.Imgclose:focus {
  color: #D4AF37;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



@media only screen and (max-width: 1100px) {
  .nav-div-top {
    grid-template-columns: 40% 20% 40%;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: 200%;
  }

  .body-grid {
    grid-template-columns: 1fr;
  }

  .body-right {
    height: 650px;
  }

  .stone-sophistication {
    background-color: #232323;
  }

  footer {
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-div-top {
    grid-template-columns: 47.5% 5% 47.5%;
  }
  footer {
    height: 230px;
  }
}
